header.header-wrap
  .header-top-line
  .header.container
    a(href='#').header-logo-left
      picture
        source(src="../../../../img/bg/fisher-logo.png" type="image/jpeg")
        img(src="../../../../img/bg/fisher-logo.webp")
    .header-info
      a(href="mailto:safari@mail.ru").btn.header-email-btn safari@mail.ru
      a(href="#form").btn.header-order-btn ОСТАВИТЬ ЗАЯВКУ
    .header-img
      picture
        source(src="../../../../img/bg/gemini-logo.png" type="image/jpeg")
        img(src="../../../../img/bg/gemini-logo.webp")
