header.header-wrap
  .header-top-line
  .header.container
    a(href='/').header-logo-left
      picture
        source(src="img/bg/fisher-logo.png" type="image/jpeg")
        img(src="img/bg/fisher-logo.webp")
      span.header-logo-text Официальный дистрибьютор
    .header-info
      a(href="mailto:order@mdregion.by").btn.header-email-btn order@mdregion.by
      a(href="tel:+375293210072").btn.header-phone-btn +375 29 321 00 72
      a(href="#to-order").btn.header-order-btn ОСТАВИТЬ ЗАЯВКУ
    .header-img
      picture
        source(src="img/bg/gemini-logo.png" type="image/jpeg")
        img(src="img/bg/gemini-logo.webp")
