header.header-wrap
  .header-top-line
  .header.container
    a(href='/').header-logo-left
      picture
        source(src="img/bg/fisher-logo.png" type="image/jpeg")
        img(src="img/bg/fisher-logo.webp")
      span.header-logo-text Официальный дистрибьютор
    .header-info
      a(href="mailto:info@mdregion.kg").btn.header-email-btn info@mdregion.kg
      a(href="tel:+996551711811").btn.header-phone-btn +996 551 711 811
      a(href="#to-order").btn.header-order-btn ОСТАВИТЬ ЗАЯВКУ
    .header-img
      picture
        source(src="img/bg/gemini-logo.png" type="image/jpeg")
        img(src="img/bg/gemini-logo.webp")
