.content-wrapper

  include ./fisher/fisher

  .content-models.container
    .content-models-header Другие модели
    .content-models-body
      include ./models/f11-7
      include ./models/f11-11dd
      include ./models/f22
      include ./models/f22-11dd
      include ./models/f44
      include ./models/f44-11dd
      include ./models/f19
      include ./models/f19-11dd
      include ./models/f75
      include ./models/f75plus
      include ./models/f75spec
      include ./models/goldbug
      include ./models/goldbug-pro
      include ./models/goldbug-dp
      include ./models/goldbug-combo
      include ./models/goldbug2-65
      include ./models/goldbug2-10
      include ./models/goldbug2-combo
      include ./models/1280x-8
      include ./models/1280x-10
      include ./models/cz21-8
      include ./models/cz21-10

  include ../form/form
