//GOLD
.content-item
	a(href="../../../../img/detectors/bounty_hunter_gold.png").content-item-images.tinymodal-modal
		img(src="../../../../img/detectors/bounty_hunter_gold.png").content-big-img
	.content-item-text
		.content-item-header
			.content-item-title GOLD
		.content-item-description
			p Металлоискатель бюджетного уровня с весьма высокими техническими характеристиками, приближающими прибор к профессиональному классу. Управление металлодетектором максимально облегчено благодаря большому жидкокристаллическому дисплею. Прибор легкий (вес 1,3 килограмма), регулируемый держатель штанги с поисковой катушкой удобно лежит в руке и позволяет вести длительный поиск.
			p Из заметных плюсов этого металлоискателя можно выделить – великолепный дизайн, возможность использования различных дополнительных катушек, великолепная для этого уровня приборов дискриминация, приличная глубина обнаружения металлических предметов в земле.
		a(href="#modal-four").btn.content-item-chars.tinymodal-modal Характеристики
		#modal-four.tinymodal-window
			.modal-wrapper
				.modal-header
					.modal-title GOLD
					.modal-close.tinymodal-close
						img(src="../../../../img/svg/close.svg")
				.modal-body
					.modal-body-text
						ul.chars-list
							li
								span Экран: Монохромный
							li
								span Принцип действия: VLF
							li
								span Частота: 7,81 кГц
							li
								span Программы для поиска: 1
							li
								span Дискриминатор: Есть
							li
								span VDI/TargetID: Нет
							li
								span Настройка на грунт: Есть
							li
								span Настройка порогового сигнала: Нет
							li
								span Отстройка помех: Нет
							li
								span Звук на находки: 3 тона
							li
								span Регулируемая громкость: Есть
							li
								span Режим пинпоинт: Нет
							li
								span Катушка: Bounty Hunter 8
							li
								span Разъем для наушников: Есть, 3,5 мм
							li
								span Питание: 1 шт. "Крона"
							li
								span Вес в собранном виде: 0,98 кг
							li
								span Регулируемый размер: 106-143 см

					.modal-body-img
						img(src="../../../../img/detectors/bounty_hunter_gold-2.png")



//PLATINUM
.content-item
  a(href="../../../../img/detectors/platinum.png").content-item-images.tinymodal-modal
    img(src="../../../../img/detectors/platinum.png").content-big-img
  .content-item-text
    .content-item-header
      .content-item-title PLATINUM
    .content-item-description
      p Bounty Hunter Platinum обладает широкими возможностями по идентификации целей, прост в использовании, позволяет вручную/автоматически настроить баланса грунта, имеет индикацию глубины залегания целей и гигантский жидкокристаллический дисплей. Благодаря интуитивно понятной системе настроек он подходит как для начинающих кладоискателей, так и благодаря ряду функций и возможностей для профессионалов.
      p Продвинутые функции металлоискателя Bounty Hunter Platinum — ручной баланс грунта и сверхчувствительный статический режим поиска — ранее встречались только у гораздо более дорогих металлоискателей, а свою потрясающую эргономику Bounty Hunter Platinum унаследовал от топовых моделей металлоискателей Fisher и Teknetics — металлоискателей Fisher F75 и Teknetics T2.
      p Благодаря интуитивно понятной системе настроек он подходит как для начинающих кладоискателей, так и благодаря ряду функций и возможностей для профессионалов.
      p Bounty Hunter Platinum идентифицирует находки с помощью аудио откликов и информации выводимой на дисплее. Металлоискатель имеет регулировку баланса грунта для устранения ложных сигналов при работе на сильно минерализованных почвах.
    a(href="#modal-five").btn.content-item-chars.tinymodal-modal Характеристики
    #modal-five.tinymodal-window
      .modal-wrapper
        .modal-header
          .modal-title PLATINUM
          .modal-close.tinymodal-close
            img(src="../../../../img/svg/close.svg")
        .modal-body
          .modal-body-text
            ul.chars-list
              li
                span Экран: Монохромный
              li
                span Принцип действия: VLF
              li
                span Частота: 7,81 кГц
              li
                span Программы для поиска: 2
              li
                span Дискриминатор: Есть
              li
                span VDI/TargetID: Есть
              li
                span Настройка на грунт: Есть
              li
                span Настройка порогового сигнала: Нет
              li
                span Отстройка помех: Нет
              li
                span Звук на находки: 4 тона
              li
                span Регулируемая громкость: Есть
              li
                span Режим пинпоинт: Есть
              li
                span Катушка: Bounty Hunter 8
              li
                span Разъем для наушников: Есть, 3,5 мм
              li
                span Питание: 1 шт. "Крона"
              li
                span Вес в собранном виде: 1,2 кг
              li
                span Регулируемый размер: 110–148 см

          .modal-body-img
            img(src="../../../../img/detectors/platinum-2.png")


//TITANIUM
.content-item
  a(href="../../../../img/detectors/titanium.png").content-item-images.tinymodal-modal
    img(src="../../../../img/detectors/titanium.png").content-big-img
  .content-item-text
    .content-item-header
      .content-item-title TITANIUM CAMO
    .content-item-description
      p Bounty Hunter Titanium Camo легкий, быстрый, функциональный, удобный металлоискатель в стильном камуфляжном исполнении. С концентрической катушкой 8 дюймов и одной батареей 9В Крона его вес всего 1,4 кг. Металлоискатель имеет регулируемый подлокотник телескопическую штангу, что учитывая небольшой вес позволит часами работать с металлоискателем без усталости.
      p Прибор работает по VLF технологии и является одночастотным - 7,8 кГц. Bounty Hunter Titanium имеет предустановленные настройки баланса грунта, что исключает сложные манипуляции по отстройке и дает удивительную производительность в широком диапазоне грунтовых условий.
      p Titanium Camo имеет три режима поиска – режим дискриминации и два режима All Metal (обозначаются как А1 и А2 – в зависимости от степени минерализации почвы – А1 для обычных почв, А2 для высокоминерализованных). Также есть режим точного обнаружения целей – режим Pinpoint, в котором металлоискатель переходит в статический режим поиска.
    a(href="#modal-six").btn.content-item-chars.tinymodal-modal Характеристики
    #modal-six.tinymodal-window
      .modal-wrapper
        .modal-header
          .modal-title TITANIUM CAMO
          .modal-close.tinymodal-close
            img(src="../../../../img/svg/close.svg")
        .modal-body
          .modal-body-text
            ul.chars-list
              li
                span Экран: Монохромный
              li
                span Принцип действия: VLF
              li
                span Частота: 7,81 кГц
              li
                span Программы для поиска: 3
              li
                span Дискриминатор: Есть
              li
                span VDI/TargetID: Есть
              li
                span Настройка на грунт: Нет
              li
                span Настройка порогового сигнала: Нет
              li
                span Отстройка помех: Нет
              li
                span Звук на находки: 3 тона
              li
                span Регулируемая громкость: Есть
              li
                span Режим пинпоинт: Есть
              li
                span Катушка: Bounty Hunter 8
              li
                span Разъем для наушников: 1/4" и 1/8"
              li
                span Питание: 1 шт. "Крона"
              li
                span Вес в собранном виде: 1,4 кг
              li
                span Регулируемый размер: 115-130 см

          .modal-body-img
            img(src="../../../../img/detectors/titanium-2.png")





//PINPOINTER
.content-item
  a(href="../../../../img/detectors/pinpointer.png").content-item-images.tinymodal-modal
    img(src="../../../../img/detectors/pinpointer.png").content-big-img
  .content-item-text
    .content-item-header
      .content-item-title PINPOINTER
    .content-item-description
      p Bounty Hunter Junior - детектор разработанный специально для детей. Он отличается легким весом, компактен и очень прост в обращении.
      p Все вышенаписанное определенно не означает, что это всего лишь игрушка. Bounty Hunter Junior оснащен достойным дискриминатором, позволяющим избежать ненужный бесполезный хлам вроде консервных банок. Металлоискатель также имеет идентификатор цели, в зависимости от уровня сигнала, становится громче по мере приближения к объекту. Он может видеть крупные объекты на глубине до 60-80 см, монеты на глубине до 15 сантиметров. Bounty Hunter Junior может работать как в обычном грунте, так и на пляже, но имейте в виду, катушка не является водонепроницаемой.
    a(href="#modal-eight").btn.content-item-chars.tinymodal-modal Характеристики
    #modal-eight.tinymodal-window
      .modal-wrapper
        .modal-header
          .modal-title PINPOINTER
          .modal-close.tinymodal-close
            img(src="../../../../img/svg/close.svg")
        .modal-body
          .modal-body-text
            ul.chars-list
              li
                span Напряжение питания: 9V
              li
                span Длина антенны: 125 мм
              li
                span Частота: 6,5 кГц
              li
                span Потребляемый ток: 15мА
              li
                span Ручка для регулировки чувствительности: Есть
              li
                span Индикация визуальная и звуковая или бесшумная вибрация: Есть

