.content-model
	.content-model-title 1280x Underwater
		span.content-model-coil 8"
	.content-model-imgs
		a(href="img/detectors/1280x-under_1.jpg").tinymodal-modal
			picture
				source(src="img/detectors/1280x-under_1.jpg" type="image/jpeg")
				img(src="img/detectors/1280x-under_1.webp").content-model-front
		a(href="img/detectors/1280x-under_2.jpg").tinymodal-modal
			picture
				source(src="img/detectors/1280x-under_2.jpg" type="image/jpeg")
				img(src="img/detectors/1280x-under_2.webp").content-model-block
	.content-model-description Высококачественный подводный металлоискатель для профессионалов и спортсменов-ныряльщиков. Работает в соленой воде, пресной воде и на суше.
