.content-model
	.content-model-title CZ21 Underwater
		span.content-model-coil 10.5"
	.content-model-imgs
		a(href="img/detectors/cz21-under_1.jpg").tinymodal-modal
			picture
				source(src="img/detectors/cz21-under_1.jpg" type="image/jpeg")
				img(src="img/detectors/cz21-under_1.webp").content-model-front
		a(href="img/detectors/cz21-under_2.jpg").tinymodal-modal
			picture
				source(src="img/detectors/cz21-under_2.jpg" type="image/jpeg")
				img(src="img/detectors/cz21-under_2.webp").content-model-block
	.content-model-description CZ21 - это мощный инструмент профессионального поисковика, желающего в одном приборе совместить множество возможностей и в первую очередь, иметь в своем распоряжении металлодетектор как для поиска как на суше, так и под водой.
