.content-model
	.content-model-title Fisher F19
		span.content-model-coil 10" DD
	.content-model-imgs
		a(href="img/detectors/f19_1.jpg").tinymodal-modal
			picture
				source(src="img/detectors/f19_1.jpg" type="image/jpeg")
				img(src="img/detectors/f19_1.webp").content-model-front
		a(href="img/detectors/f19_2.jpg").tinymodal-modal
			picture
				source(src="img/detectors/f19_2.jpg" type="image/jpeg")
				img(src="img/detectors/f19_2.webp").content-model-block
	.content-model-description Металлоискатель Fisher F19 – это очень мощный и в тоже время очень лёгкий и эргономичный прибор, предназначенный для поиска самых маленьких целей в обычных или сложных условиях. Обеспечивает высокоточное разделение близлежащих объектов и имеет продвинутые режимы по дискриминации металлов.
