.content-model
	.content-model-title Fisher F22
	.content-model-imgs
		a(href="img/detectors/f22_1.jpg").tinymodal-modal
			picture
				source(src="img/detectors/f22_1.jpg" type="image/jpeg")
				img(src="img/detectors/f22_1.webp").content-model-front
		a(href="img/detectors/f22_2.jpg").tinymodal-modal
			picture
				source(src="img/detectors/f22_2.jpg" type="image/jpeg")
				img(src="img/detectors/f22_2.webp").content-model-block
	.content-model-description Рекомендуется: для поиска монет, соревнований, поиске на пляжах. Также показывает хорошие результаты: в поиске ювелирных украшений, артефактов и поиске в заброшенных поселениях.
