.content-model
	.content-model-title Fisher F44
		span.content-model-coil 11" DD
	.content-model-imgs
		a(href="img/detectors/f44-11dd_1.jpg").tinymodal-modal
			picture
				source(src="img/detectors/f44-11dd_1.jpg" type="image/jpeg")
				img(src="img/detectors/f44-11dd_1.webp").content-model-front
		a(href="img/detectors/f44_2.jpg").tinymodal-modal
			picture
				source(src="img/detectors/f44_2.jpg" type="image/jpeg")
				img(src="img/detectors/f44_2.webp").content-model-block
	.content-model-description Старшая модель новой линейки металлоискателей под литерой F от Fisher Research Labs. Fisher F44-11DD прост и эффективен, подойдет любителям и полупрофессионалам. Модель справляется с поиском монет, украшений, золотых самородков и артефактов.
