.content-model
	.content-model-title Fisher F75
		span.content-model-coil DD
	.content-model-imgs
		a(href="img/detectors/f75_1.jpg").tinymodal-modal
			picture
				source(src="img/detectors/f75_1.jpg" type="image/jpeg")
				img(src="img/detectors/f75_1.webp").content-model-front
		a(href="img/detectors/f75_2.jpg").tinymodal-modal
			picture
				source(src="img/detectors/f75_2.jpg" type="image/jpeg")
				img(src="img/detectors/f75_2.webp").content-model-block
	.content-model-description Модель разработана для профессионального поиска золота, кладов, драгоценностей, реликвий и других важных артефактов. Может работать в сильно минерализованных средах, допускает погружение катушки на значительную глубину до уровня электронного блока.
