.content-model
	.content-model-title Fisher F75 SE
		span.content-model-coil 5" DD + 11" DD
	.content-model-imgs
		a(href="img/detectors/f75spec_1.jpg").tinymodal-modal
			picture
				source(src="img/detectors/f75spec_1.jpg" type="image/jpeg")
				img(src="img/detectors/f75spec_1.webp").content-model-front
		a(href="img/detectors/f75spec_2.jpg").tinymodal-modal
			picture
				source(src="img/detectors/f75spec_2.jpg" type="image/jpeg")
				img(src="img/detectors/f75spec_2.webp").content-model-block
	.content-model-description Улучшенная версия Fisher F75. Особенностью F75 SE является два новых режима: для поиска крупных объектов на большой глубине и режим усиления глубины на мелкие цели.
