.content-model
	.content-model-title Gold Bug-2
		span.content-model-coil 10"
	.content-model-imgs
		a(href="img/detectors/gold-bug-2_1.jpg").tinymodal-modal
			picture
				source(src="img/detectors/gold-bug-2_1.jpg" type="image/jpeg")
				img(src="img/detectors/gold-bug-2_1.webp").content-model-front
		a(href="img/detectors/gold-bug-2_2.jpg").tinymodal-modal
			picture
				source(src="img/detectors/gold-bug-2_2.jpg" type="image/jpeg")
				img(src="img/detectors/gold-bug-2_2.webp").content-model-block
	.content-model-description Металлоискатель Gold Bug-2 является самым чувствительным детектором для поиска мелких золотых самородков из всех существующих на рынке. В отличие от других металлодетекторов с более низкой частотой этот детектор обнаруживает мельчайшие частицы золота даже в высокоминерализованных грунтах.
