.content-model
	.content-model-title Gold Bug PRO
		span.content-model-coil 5"
	.content-model-imgs
		a(href="img/detectors/gold-bug-pro_1.jpg").tinymodal-modal
			picture
				source(src="img/detectors/gold-bug-pro_1.jpg" type="image/jpeg")
				img(src="img/detectors/gold-bug-pro_1.webp").content-model-front
		a(href="img/detectors/gold-bug-pro_2.jpg").tinymodal-modal
			picture
				source(src="img/detectors/gold-bug-pro_2.jpg" type="image/jpeg")
				img(src="img/detectors/gold-bug-pro_2.webp").content-model-block
	.content-model-description Металлоискатель Fisher Gold Bug Pro – профессиональная спецификация металлодетектора  Fisher Gold Bug, предназначенный для опытных поисковиков. Оборудованный большим жидкокристаллическим дисплеем и удобными регуляторами настроек этот прибор незаменим при поиске как кладов и драгоценностей, так и в геологоразведке.
