.content-model
	.content-model-title Gold Bug Pro Combo
		span.content-model-coil 5" + 10"
	.content-model-imgs
		a(href="img/detectors/gold-bug-combo_1.jpg").tinymodal-modal
			picture
				source(src="img/detectors/gold-bug-combo_1.jpg" type="image/jpeg")
				img(src="img/detectors/gold-bug-combo_1.webp").content-model-front
		a(href="img/detectors/gold-bug-pro_2.jpg").tinymodal-modal
			picture
				source(src="img/detectors/gold-bug-pro_2.jpg" type="image/jpeg")
				img(src="img/detectors/gold-bug-pro_2.webp").content-model-block
	.content-model-description Металлоискатель Fisher Gold Bug Pro с двумя катушками 5" и 10".
