.content-model
	.content-model-title Gold Bug DP
		span.content-model-coil 11"
	.content-model-imgs
		a(href="img/detectors/gold-bug-dp_1.jpg").tinymodal-modal
			picture
				source(src="img/detectors/gold-bug-dp_1.jpg" type="image/jpeg")
				img(src="img/detectors/gold-bug-dp_1.webp").content-model-front
		a(href="img/detectors/gold-bug-pro_2.jpg").tinymodal-modal
			picture
				source(src="img/detectors/gold-bug_2.jpg" type="image/jpeg")
				img(src="img/detectors/gold-bug_2.webp").content-model-block
	.content-model-description Металлоискатель FISHER GOLD BUG DP специально создавался, как универсальный металлоискатель, пригодный для широкого спектра поисковых ситуаций, но в основу его концепции заложен принцип высокой чувствительности к мелким целям из драгоценных металлов – золота, платины  и серебра.
