extends layouts/default-kg
include helpers/mixins

block variables
	- const title = "Fisher в Кыргызстане. Металлоискатели, катушки и аксессуары Fisher (Фишер)"
	- const name = "Fisher"
	- const in_country = "Кыргызстане"


block content
	include ../blocks/modules/header/header-kg
	include ../blocks/modules/content/content
	include ../blocks/modules/footer/footer

block scripts
	script(src="js/main.js")
