.content-fisher
	.content-fisher-body.container
		.content-fisher-text
			.content-fisher-header FISHER GEMINI-3
			.content-fisher-description GEMINI3 рассчитан на поиск кладов, на применение в геологии и строительстве. Он имеет несколько режимов поиска, включая свободный поиск крупных металлических предметов, индуктивный поиск с широким охватом, когда работают 2 оператора на расстоянии 18 м, а также режим трассировки трубопроводов и кабелей.

		.content-fisher-imgs
			.content-fisher-small-img
				a(href="img/detectors/fisher.png").tinymodal-modal
					picture
						source(src="img/detectors/fisher.png" type="image/jpeg")
						img(src="img/detectors/fisher.webp")
				a(href="img/detectors/fisher-block1.png").tinymodal-modal
					picture
						source(src="img/detectors/fisher-block1.png" type="image/jpeg")
						img(src="img/detectors/fisher-block1.webp")
				a(href="img/detectors/fisher-block2.png").tinymodal-modal
					picture
						source(src="img/detectors/fisher-block2.png" type="image/jpeg")
						img(src="img/detectors/fisher-block2.webp")
			picture
				source(src="img/detectors/gemini-1-bg.png" type="image/jpeg")
				img(src="img/detectors/gemini-1-bg.webp").content-fisher-big-img

.content-chars-wrapper
	.content-chars.container
		.content-chars-img
			picture
				source(src="img/bg/gemini-3-bg.png" type="image/jpeg")
				img(src="img/bg/gemini-3-bg.webp")
		.content-chars-text
			.content-chars-header ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ FISHER GEMINI-3
			.content-chars-subheader Большие возможности компактного глубинника
			ul.content-chars-list
				li
					span.content-chars-list-name Тип:
					span.content-chars-list-value Глубинный грунтовый металлоискатель
				li
					span.content-chars-list-name Принцип действия:
					span.content-chars-list-value RF (Radio Frequency - радио частота)
				li
					span.content-chars-list-name Рабочая частота:
					span.content-chars-list-value 81,9 кГц
				li
					span.content-chars-list-name Баланс грунта:
					span.content-chars-list-value Ручной
				li
					span.content-chars-list-name Звуковой отклик:
					span.content-chars-list-value Однотональный
				li
					span.content-chars-list-name Режимы поиска:
					span.content-chars-list-value Свободный (глубинный), Индуктивный (широкая зона охвата), Трассировка кабелей и труб
				li
					span.content-chars-list-name Водонепроницаемость:
					span.content-chars-list-value Не защищен от пападания влаги
				li
					span.content-chars-list-name Индикатор заряда батареи:
					span.content-chars-list-value Есть
				li
					span.content-chars-list-name Подзарядка батареи:
					span.content-chars-list-value Есть
				li
					span.content-chars-list-name Разъем для наушников:
					span.content-chars-list-value 6,35 мм, 1/4 дюйма
				li
					span.content-chars-list-name Элементы питания:
					span.content-chars-list-value тип АА, 16 штук
				li
					span.content-chars-list-name Снаряженный вес:
					span.content-chars-list-value 3.2 кг.
				li
					span.content-chars-list-name Время непрерывной работы:
					span.content-chars-list-value до 45 часов


			ul.content-chars-deep
				li
					span.content-chars-deep-name До 6 метров
					span.content-chars-deep-value Глубина обнаружения цели
				li
					span.content-chars-deep-name До 18 метров
					span.content-chars-deep-value Зона охвата в режиме "Индуктивный"
