footer
  .footer-wrap.container
    p © 2022 Официальный дилер #{name} в #{in_country}.
    picture
      source(src="img/bg/fisher-logo.png" type="image/jpeg")
      img(src="img/bg/fisher-logo.webp")

  #go-top
    img(src="img/svg/up-arrow.svg")
