block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title}
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content="fisher, металлоискатель fisher, официальный дилер fisher в Узбекистане, металлоискатели fisher у официального дилера в Узбекистане, фишер")
		meta(name="robots" content="index, follow")
		meta(name="author" content="Fisher")
		meta(name="description" content="Купить металлоискатели Fisher у официального дилера в Узбекистане. Металлоискатели Fisher, поисковое оборудование Fisher, аксессуары и запчасти для Fisher Официальный дистрибьютор в Узбекистане.")
		link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
		link(rel="stylesheet" href="styles/main.css")
		//link(rel="stylesheet" href="styles/custom.css")

		//fonts here
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet")
	body
		block content
		block scripts
